$text-color: #000000;
$text-color2: #FAFAFA;
$background: #660000;
$black: #000000;
$gold: #ffc107;
$high-score:  #27ae60;
$low-score: #b71c1c ;
$red: #FF0000;
$medium-score: #ffc107;
$background-score: #2d2d2e;
$background-carousel: #212121;
$background-carousel2: #0000002c;
$silver: silver;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$text-font: lato;